body, html {
    height: 100%;
    margin: 0;
    padding-bottom: 0;
    font-size: 1rem;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

h1 {
    font-size: 4rem;
}

a {
    color: black;
    text-decoration: underline;
}

.footer {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
}

.header {
    background-image: url('../img/little-long-pond-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    height: -webkit-fill-available;
}

/*.fullscreen {
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}*/

.hero {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

nav {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

nav li {
    padding-left: 5px;
    padding-right: 5px;
}

.content {
    text-align: center;
}

.content-left {
    text-align: left;
}

.card-image {
    /*height: 35vh;*/
    max-height: 200px;
    object-fit: scale-down;
    /*padding-top: 15px;*/
}

/*.hotel-image {
    height: 25vh;
    object-fit: scale-down;
    padding-top: 15px;
}*/

.modal-image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.carousel-dark {
    background-color: black;
}

/*.slider-size {
    height: 80%;
    height: calc(100% - 25px);
}

.carousel {
    width: 100%;
    height: 100% !important;
    margin: 0 auto;
}*/

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    background-color: #F5F5F5; /*White Smoke*/
    font-family: 'Playfair Display', serif;
    font-style: normal;
    color: black;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70,70,70,.25);
}

.carousel .carousel-indicators .active {
    background-color: #444;
}

.hotel-btn {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 16px;
}

.background-1 {
    background-image: none;
    background-color: #ffffff; /*Pure White*/
}

.background-2 {
    background-color: #F5F5F5; /*White Smoke*/
}

.card {
    background-color: inherit;
    margin-top: 5px;
}

ol, ul {
    text-align: left;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.btn-big {
    font-size: 60px;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

/*@media (min-width: 768px) {
    .modal-xl {
        width: 90vw;
    }
}*/

/*@media (min-width: 576px) {
    html {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1.6rem;
    }
}*/