/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

nav {
    font-family: 'Playfair Display', serif;
}

nav li {
    padding-left: 5px;
    padding-right: 5px;
}

nav a {
    color: inherit;
    text-decoration: none;
}

ol, ul {
    text-align: left;
}

.header {
    background-image: url('../img/little-long-pond-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 609px;
    color: #ffffff;
}

.section::before {
    height: 1rem;
    content: "";
    display: block;
}

.background-1 {
    background-image: none;
    background-color: #ffffff; /*Pure White*/
}

.background-2 {
    background-color: #F5F5F5; /*White Smoke*/
}

.card {
    background-color: inherit;
}

.card-image {
    max-height: 250px;
    object-fit: scale-down;
}

.hotel-btn {
    font-family: 'Playfair Display', serif;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.btn-big {
    font-size: 3rem;
}

.footer {
    height: 3.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
}